rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, write: if request.auth != null &&
                         request.auth.token.email_verified == true &&
                         request.auth.token.email.matches('siddharth.menon@motional.com$');
    }
  }
}
