.login-icon {
    padding: 0 14px;
}
.spacer {
    flex: 1 1 auto;
}
.table-wrapper {
    margin: 8px;
    position: relative;
}
table {
    width: 100%;
    & .mat-cell.no-data {
        text-align: center;
    }

    & .mat-column-abbreviation {
        min-width: 100px;
    }

    & .mat-column-expansion {
        width: 20%;
    }
    & .mat-column-context {
        min-width: 20%;
    }
    & .mat-column-notes {
        min-width: 20%;
        max-width: 40%;
    }
    & .mat-column-edit {
        width: 20px;
        & button {
            left: 10px;
        }
    }
    tr:hover {
        background: whitesmoke;
    }
}
mat-form-field {
    width: 100%;
}
.button-group {
    position: absolute;
    right: 20px;
    top: 0px;
    z-index: 100;
    & button {
        font-size: x-large;
        margin: 0 5px;
    }
}
tr:not(:hover) {
    button.edit-button {
        visibility: hidden;
    }
}
